* {
    font-family: serif;
}

body {
    background-color: whitesmoke;
}

main {
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(186, 183, 183);
    width: 270px;
    height: 400px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover effect on card */
.card:hover {
    transform: scale(1.05);
    background-color: rgb(160, 157, 157);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-img {
    background-color: whitesmoke;
    height: 200px;
    width: 270px;
    margin-bottom: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    background-size: cover;
}

.naruto {
    background-image: url('./naruto.jpg');
    background-size: cover;
}

.sasuke {
    background-image: url(./sasuke.jpg);
    background-size: cover;
}

.gojo {
    background-image: url(./gojo.jpg);
    background-size: cover;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.watch {
    background-color: orange;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    margin-left: 120px;
    padding-top: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}